body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}

button {
    cursor: pointer;
}

.column-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #106020;
    padding: 0;
    overflow: auto hidden;
}

.center-column {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: white;
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.5);
    width: 91%;
}

@media only screen and (min-width: 940px) {
    .center-column {
        width: 900px;
    }
}

.header {
    height: 80px;
    background-color: green;
    background-image: url(bg.jpg);
    background-position: center;
    background-attachment: fixed;
}

    .header .site-title {
        font-size: 30px;
        color: white;
        position: absolute;
        margin-left: 40px;
        margin-top: 20px;
    }

    .header .page-links {
        position: absolute;
        margin-left: 230px;
        margin-top: 40px;
    }

        .header .page-links .page-link {
            cursor: pointer;
            text-decoration: none;
            color: white;
            margin-right: 40px;
        }

            .header .page-links a:hover {
                font-weight: bold;
            }


@media only screen and (min-width: 940px) {
    .header .page-links {
        margin-left: 250px;
    }

        .header .page-links .page-link {
            margin-right: 60px;
        }
}@media only screen and (max-width: 500px) {
    .header {
        height: 60px;
    }

        .header .site-title {
            font-size: 26px;
            margin-top: 14px;
            margin-left: 12px;
        }

        .header .page-links {
            margin-left: 150px;
            margin-top: 30px;
        }

            .header .page-links .page-link {
                margin-right: 15px;
            }
}

.content {
    min-height: 500px;
    padding: 10px;
}











.header .page-title {
    margin: 8px 15px;
    font-size: 18px;
    color: white;
}

.header .arrow {
    color: white;
    margin: 0 15px;
    font-size: 12px;
}

.header .header-link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

    .header .header-link:hover {
        font-weight: bold;
    }


.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    background-color: #2a373d;
}

.top-gap {
    margin-top: 20px;
}

.panel-tools {
    margin-bottom: 10px;
}

.error-message {
    color: red;
}

.albums {
}

    .albums .album-day {
        margin-bottom: 30px;
    }

        .albums .album-day .album-day-title {
            margin: 20px 5px 0 10px;
            padding: 5px 250px 5px 10px;
            background-image: linear-gradient(to right, rgba(230,230,255,0.30), rgb(38, 50, 56));
            display: table;
            border-radius: 4px 0 0 4px;
        }

        .albums .album-day .album-day-box-title {
            display: block;
            text-decoration: none;
            color: white;
            cursor: pointer;
            margin: 12px 10px 5px 15px;
        }

        .albums .album-day .album-day-box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            align-items: flex-start;
            align-content: flex-start;
            margin-top: 5px;
        }

.album-image {
    display: block;
    margin: 10px 10px 15px 10px;
    text-decoration: none;
    cursor: pointer;
    padding: 3px;
    background-color: white;
    box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.8);
}


.album-image-thumb {
    display: block;
    height: 100px;
}


.album-info-editor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    align-content: flex-start;
}

    .album-info-editor .album-info-field {
        margin: 10px;
    }

.album-info {
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 10px;
}

    .photos .photo-block {
        display: block;
        margin: 20px;
        padding: 7px;
        background-color: white;
        box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.8);
    }

        .photos .photo-block a {
            text-decoration: none;
            cursor: pointer;
        }

        .photos .photo-block .thumb {
            height: 300px;
            display: block;
        }

        .photos .photo-block .editing-area {
            font-size: 12px;
            color: black;
            margin-top: 10px;
            font-weight: normal;
        }

            .photos .photo-block .editing-area .display-order {
                width: 40px;
            }

            .photos .photo-block .editing-area .edit-icon {
                height: 16px;
                width: auto;
                display: inline;
                position: relative;
                top: 3px;
                cursor: pointer;
            }
