body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #263238;
}

button {
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        color: hotpink;
        text-decoration: underline;
    }

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    background-color: rgb(203,67,53);
    background: linear-gradient(110deg, rgb(176, 58, 46) 0, rgb(231, 76, 60) 400px,rgb(176, 58, 46) 400px, rgb(100, 20, 0) 400px, rgb(120, 40, 31) 410px, rgb(176, 58, 46) 100%);
    box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.75);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

    .header .page-title {
        display: block;
        margin: 8px 20px 0 0;
        font-size: 18px;
        color: white;
    }

    .header .arrow {
        display: block;
        margin: 8px 20px 0 0;
        font-size: 18px;
        color: white;
    }

    .header .header-link {
        display: block;
        margin: 8px 20px 0 0;
        font-size: 18px;
        color: white;
        text-decoration: none;
    }

        .header .header-link:hover {
            color: hotpink;
            text-shadow: 1px 1px rgba(0,0,0,0.7);
        }

    .header .logo {
        display: block;
        width: 50px;
        height: 50px;
        margin: -5px 20px 0 10px;
        -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .5));
        filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .5));
    }

.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 40px;
    overflow: auto;
    padding: 0 10px 10px 10px;
    color: white;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    background-color: #2a373d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

    .footer .footer-item {
        white-space: nowrap;
        color: white;
        margin: 10px 10px 0 10px;
        font-weight: normal;
    }

        .footer .footer-item a {
            color: white;
            text-decoration: none;
        }

            .footer .footer-item a:hover {
                color: hotpink;
                text-shadow: 1px 1px rgba(0,0,0,0.7);
            }

@media only screen and (max-width: 500px) {
    .content {
        bottom: 80px;
    }

    .footer {
        height: 80px;
    }
}

.group-space {
    margin-top: 20px;
    padding: 10px 20px;
}

    .group-space .group-title {
        padding: 5px 250px 5px 10px;
        background-image: linear-gradient(to right, rgba(230,230,255,0.30), rgb(38, 50, 56));
        display: table;
        border-radius: 4px 0 0 4px;
        margin-bottom: 10px;
    }

    .group-space .group-content {
    }

.contact-socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

    .contact-socials .contact-social-item {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

.contact-link-content {
    padding: 20px;
}

    .contact-link-content a {
        color: wheat;
        text-decoration: none;
    }

        .contact-link-content a:hover {
            color: hotpink;
            text-decoration: underline;
        }

.social-logo {
    height: 90px;
}

.panel-tools {
    margin-bottom: 10px;
}

.error-message {
    color: red;
}

.red {
    color: red;
}

.albums {
}

    .albums .album-day {
        margin-bottom: 30px;
    }

        .albums .album-day .album-day-title {
            margin: 20px 5px 10px 10px;
            padding: 5px 250px 5px 10px;
            background-image: linear-gradient(to right, rgba(230,230,255,0.30), rgb(38, 50, 56));
            display: table;
            border-radius: 4px 0 0 4px;
        }

        .albums .album-day .album-day-box-title {
            display: table;
            text-decoration: none;
            color: wheat;
            cursor: pointer;
            margin: 12px 10px 5px 15px;
        }

            .albums .album-day .album-day-box-title:hover {
                color: orangered;
                text-decoration: underline;
            }

        .albums .album-day .album-day-box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            align-items: flex-start;
            align-content: flex-start;
            margin-top: 5px;
        }

.album-image {
    display: block;
    margin: 10px 10px 15px 10px;
    padding: 3px;
    background-color: white;
    box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.8);
    cursor: inherit;
}

    .album-image a {
        text-decoration: none;
        cursor: pointer;
    }

.thumb-in-index {
    display: block;
    height: 100px;
}

.album-image .album-image-footer {
    color: black;
    text-align: center;
}

    .album-image .album-image-footer .album-image-footer-icon {
        height: 16px;
        cursor: pointer;
        margin: 5px 5px 0 5px;
        padding: 2px 5px;
    }

        .album-image .album-image-footer .album-image-footer-icon:hover {
            background-color: #ffb080;
            border-radius: 2px;
        }

#tooltip {
    position: fixed;
    padding: 10px;
    background-color: wheat;
    box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.8);
    border-radius: 4px;
    color: black;
    text-align: center;
}

    #tooltip #tooltip-content {
    }

    #tooltip button {
        margin: 10px 10px 0 10px;
    }

.album-info-editor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    align-content: flex-start;
}

    .album-info-editor .album-info-field {
        margin: 10px;
    }

.album-info {
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 10px;
}

    .photos .photo-block {
        display: block;
        margin: 20px;
        padding: 7px;
        background-color: white;
        box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.8);
    }

        .photos .photo-block a {
            text-decoration: none;
            cursor: pointer;
        }

.thumb-in-album {
    height: 200px;
    display: block;
}

.photos .photo-block .editing-area {
    font-size: 12px;
    color: black;
    font-weight: normal;
    margin: 5px 0 3px 0;
}

    .photos .photo-block .editing-area .display-order {
        position: relative;
        top: 1px;
        width: 40px;
    }

    .photos .photo-block .editing-area .edit-icon {
        height: 16px;
        width: auto;
        display: inline;
        position: relative;
        top: 3px;
        cursor: pointer;
        padding: 2px 5px;
    }

        .photos .photo-block .editing-area .edit-icon:hover {
            background-color: #ffb080;
            border-radius: 2px;
        }

.invisible {
    position: fixed;
    top: -2000px;
    left: -2000px;
}
