@page
@model HashingModel
@{
    ViewData[Constants.PageTitle] = "Hashing";
}

<form method="post">
    <input type="password" required="required" name="password" />
    <button asp-page-handler="Hash">Hash</button>
</form>

<div class="group-space">
    @Model.HashedPassword
</div>

