@page
@model IndexModel
@{
    ViewData[Constants.PageTitle] = @T.GetMap(PageDefinitions.Home.PageTitle);
}

@*@section PageHeader
{
    <a class="header-link" href="/">@T.GetMap(PageDefinitions.Home.PageTitle)</a>
}*@

1q abcd 正常字体
<br />
w
<br />
e
<br />
r
<br />
t
<br />
y
<br />
u
<br />
i
<br />
q
<br />
w
<br />
e
<br />
r
<br />
t
<br />
y
<br />
u
<br />
i
<br />
q
<br />
w
<br />
e
<br />
r
<br />
t
<br />
y
<br />
u
<br />
i
<br />
q
<br />
w
<br />
e
<br />
r
<br />
t
<br />
y
