@page
@model IndexModel
@{
    ViewData[Constants.PageTitle] = @T.GetMap(PageDefinitions.Home.PageTitle);
}

@section PageHeader
{
    <a class="header-link" href="/">@T.GetMap(PageDefinitions.Home.PageTitle)</a>
}