@page
@model LoginModel
@{
    ViewData[Constants.PageTitle] = "Login";
}

<div class="panel-tools">
    @if (!Model.IsLoggedIn)
    {
        <form method="post">
            <input type="password" required="required" name="password" />
            <button asp-page-handler="Login">@Model.LogIn</button>
        </form>

    }

    @if (Model.IsLoggedIn)
    {
        <div class="form-row">You are logged in as @Model.UserName</div>
        <div class="group-space">
            <form method="post">
                <button asp-page-handler="Logout">@Model.LogOut</button>
            </form>
        </div>
    }
</div>

